/** @format */

body {
  margin: 0px;
  width: 100%;
}

* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* .navbar {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  background-color: #232e3e;
  width: 100%;
  padding: 10px 0px;
  text-align: center;

  a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 10px;

    &:hover {
      border: 1px solid white;
    }
  }
} */

.spinner {
  margin: 100px auto;
  height: 30px;
  width: 30px;
  border: 10px solid chocolate;
  border-top: 10px solid rgb(255, 255, 255);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* .wrapper {
  display: grid;
  grid-template-columns: repeat();
} */

.gallery {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 2rem;
}

@media only screen and (max-width: 1300px) {
  .gallery {
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (max-width: 600px) {
  .gallery {
    grid-template-columns: 100%;
    background-color: blue;
  }
}

.gallery img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
